name: CI
permissions:
  contents: read

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  Lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Setup pixi
        uses: prefix-dev/setup-pixi@8ca4608ef7f4daeb54f5205b20d0b7cb42f11143  # v0.8.14
        with:
          pixi-version: v0.56.0
          cache: false
          frozen: true

      - name: Run linting checks
        run: pixi run lint


  test:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Setup pixi
        uses: prefix-dev/setup-pixi@8ca4608ef7f4daeb54f5205b20d0b7cb42f11143  # v0.8.14
        with:
          pixi-version: v0.56.0
          cache: false
          frozen: true

      - name: Run Unit Tests
        run: |
          pixi run test --cov=epicsdbtools --cov-report=xml:coverage.xml

      - name: Upload Coverage To Codecov
        uses: codecov/codecov-action@v5
        with:
          name: Coverage
          files: coverage.xml
          token: ${{ secrets.CODECOV_TOKEN }}
